
@media only screen and (max-width:375px){

 .image-style{
  width:60vw;
}

.footer-image {
width:100vw;
height:auto;
background:#dddddd;
object-fit: contain;
}
.c-2019{
  display: none;
}
}


@media only screen and (min-width: 900px){
.cake-footer-cards {
margin-left: 4%;
}
}
@media only screen and (max-width: 780px){

.footer-image {
width:100vw;
height:auto;
background:#dddddd;
object-fit: contain;
}
.c-2019{
  display: none;
}
}
